html, body {
    margin: 0;
    padding: 0;
}


/*Header Section*/

header {
    margin: 20px auto;
    width: 100%;
    text-align: center;
}

h1 {
    margin: 0 auto;
    font-size: 3em;
}


/*Search Section*/

.search-section {
    margin: 20px auto;
    width: 100%;
    text-align: center;
}
    

/*Results Section*/

.results-section {
    margin: 20px auto;
    width: 100%;
    display: block;
    text-align: center;
}

.item {
    margin: 10px 15px;
    width: 300px;
    height: 500px;
    border: 1px solid black;
    -webkit-box-shadow: 9px 9px 5px -2px rgba(189,189,189,0.86);
-moz-box-shadow: 9px 9px 5px -2px rgba(189,189,189,0.86);
box-shadow: 9px 9px 5px -2px rgba(189,189,189,0.86);
    list-style: none;
    display: inline-block;
    vertical-align: top;
}

.item-thumbnail {
    margin: 0;
    width: 100%;
}

.item-title {
    
}

.item-description {
    
}